<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/">
                Strona główna
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/observations">
                Obserwacje
            </a>
        <li class="nav-item">
            <a class="nav-link" routerLink="/observations/create">
                Dodaj nowa obserwacje
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/users">
                Użytkownicy
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/species">
                Gatunki
            </a>
        </li>
    </ul>
</div>