<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <div class="row">
    <div class="col-6">
          
      <div class="card-columns">

        <!-- <div class="card bg-primary text-center text-white">
            <div class="card-body">
              <h5>Add a new post</h5>
            </div>
          </div> -->

        <div class="card post-thumbnail">
          <img src="../../../assets/swans.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text.</p>
          </div>
        </div>

        <div class="card post-thumbnail">
          <img src="../../../assets/birb2.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Last updated 3 mins ago</p>
          </div>
        </div>

          <div class="card post-thumbnail">
            <img src="../../../assets/swans.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

          <div class="card post-thumbnail">
            <img src="../../../assets/cover1280.jpg" class="card-img-top" alt="...">
          </div>

          <div class="card post-thumbnail">
            <img src="../../../assets/swans.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>

          <div class="card post-thumbnail">
            <img src="../../../assets/birb1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

        </div>

    </div>

    <div class="col-3">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Some stuff</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, 
            scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam.</p>
        </div>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">News/Blog posts list thingy</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Aaaand some other stuff</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, 
                scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam.</p>
          </div>
      </div>

    </div>

    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Mapa</h5>
        </div>
        <div>
          <img src="../../../assets/flatmap.png" class="card-img-top" alt="map">
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-6">

    </div>
    
  </div>
</div>