<div class="row content-wrapper">
  <div class="col-2">
    <div>
      <img src="../../../assets/default-avatar.png" id="avatar" alt="avatar">
    </div>
    <div>
      <h1 class="h2">{{ user.username }}</h1>
    </div>
    <div class="card" id="info-section">
      <div class="card-body">
        <h5 class="card-title">Info</h5>
        <p class="card-text">Zarejestrowany: {{ user.registeredOn | date:'dd mm yy' }}</p>
        <p>Dodanych obserwacji: [x]</p>
        <a href="#" class="card-link">Strona domowa</a>
      </div>
    </div>
    <div>
      <button class="btn btn-block btn-outline-info" (click)="goBack()">Cofnij</button>
    </div>
  </div>

  <div class="col-sm-7">
    <div>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Data</th>
            <th>Gatunek</th>
            <th>Miejsce</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let observation of observations">
            <ng-container *ngIf="observation.visible">
              <td> <a routerLink="/observations/{{observation._id}}">{{ observation.date | date:'mm.dd.yyyy' }}</a></td>
              <td> {{ observation.species.commonName }}</td>
              <td> {{ observation.exactLocation }} </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>