<div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label class="col-2" for="species-list-dropdown">Gatunek</label>
      <div class="col-10">
        <input list="species-list-dropdown"/>
        <datalist name="species-list" id="species-list-dropdown">
          <option *ngFor="let spec of species" value="{{spec.commonName}}">{{spec.commonName}}</option>
        </datalist>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2" for="observation-date">Data</label>
      <div class="col-10">
        <input type="date" name="observation-date" id="observation-date">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2" for="longitude-input">Dlugosc geo</label>
      <div class="col-10">
        <input type="number" name="longitude" id="longitude-input">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2" for="latitude-input">Szerokosc geo</label>
      <div class="col-10">
        <input type="number" name="latitude" id="latitude-input">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2" for="">Miejscowość</label>
      <div class="col-10">
        <input type="text" name="" id="">
      </div>
    </div>
    <button type="submit" class="btn btn-info">Wyślij</button>
  </form>
</div>