<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Lista użytkowników</h1>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Użytkownik</th>
          <th>Data rejestracji</th>
          <th>Data ostatniego logowania</th>
          <th>Liczba obserwacji</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; index as i">
          <td> {{ i+1 }}</td>
          <td> <a routerLink="/users/{{user._id}}">{{ user.username }}</a></td>
          <td> {{ user.registeredOn | date:'dd.MM.yyyy' }} </td>
          <td> {{ user.lastLoggedIn | date:'dd.MM.yyyy' }} </td>
          <td> - </td>
        </tr>
      </tbody>
    </table>
  </div>
