<div class="row">
  <main role="main" class="col-md-12 ml-sm-auto px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Rejestracja</h1>
    </div>
    <div class="row">
      <div class="col-md-2" id="register-form">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email-register">Email</label>
            <input name="email" type="email" class="form-control" id="email-register" [(ngModel)]="registrationData.email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="login-register">Login</label>
            <input name="username" class="form-control" id="login-register" [(ngModel)]="registrationData.username" placeholder="Wybierz login">
          </div>
          <div class="form-group">
            <label for="password-register">Hasło</label>
            <input name="password" type="password" class="form-control" id="password-register" [(ngModel)]="registrationData.password" placeholder="Hasło">
          </div>
          <button type="submit" class="btn btn-primary">Zarejestruj</button>
        </form>
      </div>
    </div>
  </main>
</div>