<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Rejestracja</h1>
</div>
<div>
  <form>
    <div class="form-group">
      <label for="email-register">Email</label>
      <input type="email" class="form-control" id="email-register" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="login-register">Login</label>
      <input class="form-control" id="login-register" placeholder="Wybierz login">
    </div>
    <div class="form-group">
      <label for="password-register">Hasło</label>
      <input class="form-control" id="password-register" placeholder="Hasło">
    </div>
    <button type="submit" class="btn btn-primary">Zarejestruj</button>
  </form>
</div>