<div class="pt-3 pb-2 mb-3">
  <div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="/settings/profile" role="tab" aria-controls="v-pills-home" aria-selected="true">Profil</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="/settings/account" role="tab" aria-controls="v-pills-profile" aria-selected="false">Konto</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="/settings/notifications" role="tab" aria-controls="v-pills-messages" aria-selected="false">Powiadomienia</a>
      </div>
    </div>
    <div class="col-9">
      <!--<h3 class="h2 border-bottom">Edycja profilu</h3>-->
      <!-- router outlet -->
      <div class="form-group">
        <form (ngSubmit)="onSubmit()">
          <input type="file" name="avatar" id="avatar" (change)="handleFileInput($event.target.files)">
          <button type="submit">Wyślij</button>
        </form>
      </div>
    </div>
  </div>
</div>