.sidebar-info {
    margin: 0 30px;
    padding: 0 20px;
}

.sidebar-info > .row {
    margin-bottom: 10px;
}

#profile-info {
    width: 100%;
}

#profile-info > div {
    display: inline-block;
    margin-right: 10px;
}

.profile-picture {
    height: 100%;
    width: 70px;
}

i {
    margin: 0 5px;
}

.btn-observation-edit {
    width: 50%;
}

#observation-extras {
    padding: 10px 15px;
    margin: 5px -15px;
}

#comments {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 15px;
}

.post-actions {
    font-size:1.2rem;
}

#map {
    height: 200px;
    width: 100%;
}