<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2>{{observation.species.commonName}}</h2>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-7">
      <div class="row">
        <div class="card post-thumbnail">
          <img src="../../../assets/swans.jpg" class="card-img-top" alt="...">
        </div>
      </div>
      <div id="observation-extras">
        <div class="row">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Opis</h3>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="comments">
        <h3 style="padding: 1.25rem;">Komentarze</h3><br>
        <ul>
          <li class="media">
            <img src="../../assets/blank-profile-picture.png" class="mr-3 profile-picture">
            <div class="media-body">
              <h5 class="mt-0 mb-1">User 1</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
            </div>
          </li>
          <li class="media my-4">
            <img src="../../assets/blank-profile-picture.png" class="mr-3 profile-picture">
            <div class="media-body">
              <h5 class="mt-0 mb-1">User 2</h5>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-2 sidebar-info">
      <div class="row">
        <div id="profile-info">
          <div><img class="profile-picture" src="../../assets/blank-profile-picture.png"></div>
          <div><a routerLink="/users/{{observation.owner._id}}"><span
                class="post-actions">{{ observation.owner.username }}</span></a></div>
        </div>
      </div>
      <div class="row">
        <h5><i class="fa fa-calendar-o" aria-hidden="true"></i> Data: {{ observation.date | date:'dd.MM.y' }}</h5>
      </div>
      <div class="row">
        <h5><i class="fa fa-map" aria-hidden="true"></i> [Lokacja] {{ observation.exactLocation.coordinates }}
        </h5>
      </div>
      <div class="row">
        <div class="card">
          <div>
            <img src="../../../assets/flatmap.png" class="card-img-top" alt="map">
          </div>
        </div>
      </div>
      <div class="row">
        <div>
          <span class="post-actions"><i class="fa fa-star fa-lg"></i>Oceń (123)</span>
        </div>
      </div>
      <div class="row">
        <div>
          <span class="post-actions"><i class="fa fa-eye fa-lg"></i>123 wyświetleń</span>
        </div>
      </div>
      <div class="row" *ngIf="isEditable()">
        <button class="btn btn-block btn-outline-warning" (click)="toEditPage()">Edytuj</button>
      </div>
    </div>
  </div>
</div>

<!--<button (click)="goBack()">Cofnij</button>-->