<h3 style="padding: 1.25rem;">Komentarze</h3><br>
<ul>
  <li class="media">
    <img src="../../assets/blank-profile-picture.png" class="mr-3 profile-picture">
    <div class="media-body">
      <h5 class="mt-0 mb-1">User 1</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
    </div>
  </li>
  <li class="media my-4">
    <img src="../../assets/blank-profile-picture.png" class="mr-3 profile-picture">
    <div class="media-body">
      <h5 class="mt-0 mb-1">User 2</h5>
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
    </div>
  </li>
</ul>